@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-inner {
  & {
    margin-inline: auto;
  }

  @include pc {
    width: 132rem;
    padding: 0 2rem;
  }

  @include sp {
    width: 100%;
    padding: 0 2rem;
  }
}