@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.l-footer {
  & {
    background-color: color(bk,base);
    
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo-link {
      display: block;
    }
    
    &__logo-img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__nav-link {
      font-family: $ff-roboto;
      color: $base-bg-color;
      font-weight: $base-font-bold;
      display: inline-block;
      @include text-trim;
    }

    &__small {
      color: $base-bg-color;
      font-weight: $base-font-medium;
      text-align: center;
      display: block;
      border-top: solid 1px color(wt,base);
      @include text-trim;
    }
  }

  @include pc {
    &__inner {
      padding: 0 8rem;
    }

    &__wrap {
      padding-top: 4rem;
    }

    &__logo-link {
      width: 14rem;
      @include hover-opacity;
    }

    &__nav-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5.6rem;
    }

    &__nav-link {
      font-size: 2.4rem;
      @include hover-opacity;
    }

    &__small {
      font-size: 1.6rem;
      margin-top: 4rem;
      padding: 2rem 0;
    }
  }

  @include sp {
    padding-top: 6rem;
    
    &__inner {
      padding: 0 2rem;
    }

    &__wrap {
      flex-direction: column;
      gap: 5.6rem;
    }

    &__logo-link {
      width: 14rem;
    }

    &__nav {
      width: 100%;
    }

    &__nav-item {
      & + & {
        margin-top: 5.6rem;
      }
    }

    &__nav-link {
      font-size: 2.4rem;
    }

    &__small {
      font-size: 1.2rem;
      margin-top: 4rem;
      padding: 1.4rem 0;
    }
  }
}